* {
    margin: 0px;
    padding: 0px;
}

#container {
    width: 100%;
}

.logofat {
    font-family: futura;
    font-weight: bold;
    color: white;
    display: inline;
    margin-left: 20px;
    margin-top: 4px;
    font-size: 40px;
}

.logothin {
    font-family: futura;
    color: white;
    margin: 0;
    margin-top: 4px;
    display: inline;
    font-size: 40px;
}
 
.notifications {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    position: absolute;
    right:70px;
}

.bell {
    width: 30px;
    margin-left: 4px;
    margin-top: 3px;
}

.new {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    position: absolute;
    right:130px;
}

.plus {
    width: 35px;
    margin-left: 3px;
    margin-top: 3px;
}

#container .header {
    background-color: #68B5B9;
    text-align: left;
    width: 100%;
    height: 8vh;
    display: flex;
    
}

.text {
    font-family: futura;
    font-size: 30px;
    color: Black;
    margin-top: 20px;
    margin-left: 40px;
}

.tavla {
    width: 300px;
    height: 150px;
    background-color:#DC6236;
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
    box-shadow: 9px 12px 0px 3px rgba(0, 0, 0, 0.2)  ;
}

a {
    color: white;
    text-decoration: none;
}

.prick {
    width: 2px;
    height: 2px;
    color: white;
    display: flex;

}

.titel {
    font-family: futura;
    color: white;
    margin: 20px;
    font-size: 25px;
}

.burger {
    margin-right: 12px;
    margin-top: 10px;
    cursor: pointer;
    position: absolute;
    right:0px;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 8px;
    border-radius: 10%;
    transition: all 0.3s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 10px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -10px);
}

.navActive {
    transform: translateY(99vh);
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 10px;
    height: 200px;
    top: -90vh;
    box-shadow: 9px 12px 0px 3px rgba(0, 0, 0, 0.2);
    background-color: #68B5B9;
    align-items: center;
    width: 200px;
    transition: all 0.7s;
    z-index: -1;
}

.navLinks li {
    list-style: none;
}

.navLinks a {
    color: white;
    text-decoration: none;
    font-family: futura;
    letter-spacing: 1px;
    font-size: 20px;
}

.boxName {
    font-family: futura;
    color: white;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 30px;
}

.back {
    height: 43px;
    width: 28px;
    margin-left: 20px;
    margin-top: 7px;
}

@media screen and (max-width: 600px) {
    * {
        margin: 0px;
        padding: 0px;
    }

    header {
        z-index: 1;
        display: flex;
    }
    
    #container {
        width: 100%;
    }
    
    .logofat {
        margin-left: 7px;
        margin-top: 9px;
        font-size: 25px;
    }
    
    .logothin {
        margin-top: 9px;
        font-size: 25px;
    }
     
    .notifications {
        width: 30px;
        height: 30px;
        right:60px;
    }
    
    .bell {
        width: 21px;
    }
    
    .new {
        width: 30px;
        height: 30px;
        right:100px;
    }
    
    .plus {
        width: 24px;
    }
    
    a {
        color: white;
        text-decoration: none;
    }
    
    .titel {
        font-family: futura;
        color: white;
        margin: 20px;
        font-size: 25px;
    }
    
    .burger {
        margin-right: 12px;
        margin-top: 7px;
        right:0px;
    }
    
    .burger div {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 7px;
        border-radius: 10%;
        transition: all 0.3s;
    }
    
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 9px);
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -9px);
    }
    
    .navActive {
        transform: translateY(99vh);
    }
    
    .navLinks {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        right: 10px;
        height: 200px;
        top: -90vh;
        background-color: #68B5B9;
        align-items: center;
        width: 30vh;
        transition: all 0.7s;
        z-index: 1;
    }
    
    .navLinks li {
        list-style: none;
    }
    
    .navLinks a {
        color: white;
        text-decoration: none;
        font-family: futura;
        letter-spacing: 1px;
        font-size: 20px;
    }
    
    .text {
        font-family: futura;
        font-size: 30px;
        color: Black;
        margin-top: 20px;
        margin-left: 20px;
        z-index: -2;
    }
    
    .tavla {
        display: flex;
        width: 70vw;
        height: 25vh;
        margin-left: 20px;
        z-index: -2;
    }

    .boxName {
        font-family: futura;
        color: white;
        margin-left: 20px;
        margin-top: 7px;
        font-size: 25px;
    }
    
    .back {
        height: 30px;
        width: 18px;
        margin-left: 10px;
        margin-top: 9px;
    }
    
    }
}